# Match do emprego

In [1]:
import pandas as pd

In [36]:
df_vagas = pd.read_excel('data/vagas-pr.xlsx')
pd.set_option('max_colwidth', None)
df_vagas.head()

,Unnamed: 0,cod_ocupacao,salario,tipo_contratacao,qtd_experiencia,escolaridade
0,0,514120,600.0,3,2,1
1,1,783215,812.0,3,3,1
2,2,142205,0.0,3,6,5
3,3,513205,1200.0,3,6,2
4,4,763215,1656.0,3,6,0

### Pré-processamento vagas 
- tipo_contratacao e escolaridade: substituindo valores textuais para numéricos
- qtd_experincia: preenchendo campos vazios com zero e convertendo campo float para int**

In [35]:

# Tipo contratacao
df_vagas.loc[df_vagas['tipo_contratacao'] == '0 - Estágio', 'tipo_contratacao']     = 0
df_vagas.loc[df_vagas['tipo_contratacao'] == '1 - Aprendiz', 'tipo_contratacao']    = 1 
df_vagas.loc[df_vagas['tipo_contratacao'] == '2 - Temporária', 'tipo_contratacao']  = 2
df_vagas.loc[df_vagas['tipo_contratacao'] == '3 - Permanente', 'tipo_contratacao']  = 3

# Escolaridade
df_vagas.loc[df_vagas['escolaridade'] == '0 - Nenhum', 'escolaridade']  = 0
df_vagas.loc[df_vagas['escolaridade'] == '10 - Fundamental Incompleto', 'escolaridade']  = 1
df_vagas.loc[df_vagas['escolaridade'] == '5 - Fundamental Completo', 'escolaridade']  = 2
df_vagas.loc[df_vagas['escolaridade'] == '6 - Médio Incompleto', 'escolaridade']  = 3
df_vagas.loc[df_vagas['escolaridade'] == '7 - Médio Completo', 'escolaridade']  = 4
df_vagas.loc[df_vagas['escolaridade'] == 'Superior Completo', 'escolaridade']  = 5
df_vagas.loc[df_vagas['escolaridade'] == '13 - Especialização', 'escolaridade']  = 6

# Qtd. Experiência
df_vagas.fillna(0, inplace=True)
df_vagas.qtd_experiencia =df_vagas.qtd_experiencia.astype(int)


df_vagas.to_excel('data/vagas-pr.xlsx')
df_vagas

      cod_ocupacao  salario  tipo_contratacao  qtd_experiencia escolaridade
0           514120   600.00                 3                2            1
1           783215   812.00                 3                3            1
2           142205     0.00                 3                6            5
3           513205  1200.00                 3                6            2
4           763215  1656.00                 3                6            0
...            ...      ...               ...              ...          ...
4035        623110  1600.00                 3                0            0
4036        784205  1212.00                 3                1            0
4037        784205  1700.00                 3                0            4
4038        422120  1366.22                 3                0            0
4039        516325     0.00                 3                3            4

[4040 rows x 5 columns]

### Pré-processamento candidatos
- deficiencia: 0 (não), 1 (sim)
- escolaridade: domínio de -1 (Não Identificado) a 8 (Doutorado)

In [41]:
df_candidatos = pd.read_excel('data/candidatos-pr.xlsx')
df_candidatos.head() #2m 53.6s

,deficiencia,escolaridade,estudante,habilitacao,veiculo,disp_viajar,disp_dormir,disp_ausentar_domicilio,ocupacao_pretendida,MUNICIPIOS_INTERESSE
0,NaN,Médio Completo,N,Nenhum,N,N,N,N,"514120-Zelador(N,0,0,Indiferente)|784205-Auxiliar de linha de produção(N,0,0,Indiferente)",NaN
1,NaN,Médio Completo,N,B,N,N,N,N,"513315-Arrumadeira de hotel(N,32,0,Manhã)|513505-Auxiliar nos serviços de alimentação(N,50,0,Indiferente)|848315-Masseiro (massas alimentícias)(N,27,0,Indiferente)",NaN
2,NaN,Médio Completo,N,Nenhum,N,N,N,N,"715210-Pedreiro(N,0,6,Indiferente)|715230-Pedreiro de edificações(N,13,0,Indiferente)|715315-Armador de estrutura de concreto armado(N,13,0,Indiferente)|717020-Servente de obras(N,0,0,Comercial)",NaN
3,NaN,Superior Completo,N,Nenhum,N,N,N,N,"142305-Gerente comercial(N,154,0,Indiferente)|521110-Vendedor de comércio varejista(N,14,0,Indiferente)",NaN
4,NaN,Médio Completo,N,Nenhum,N,N,N,N,"517410-Porteiro de edifícios(N,36,0,Indiferente)",NaN

In [40]:
import re 

def getOcupacoes(txtOcupacoes):
    SEIS_DIGITOS = '[\d]{6}' 

    ocupacoes = txtOcupacoes.split('|')

    for partOcupacao in ocupacoes:
        cod_ocupacao += re.findall(SEIS_DIGITOS, partOcupacao)

    return cod_ocupacao

In [ ]:
# Deficiência
df_candidatos.loc[df_candidatos['deficiencia'] == '', 'deficiencia'] = 0
df_candidatos.loc[df_candidatos['deficiencia'] != '', 'deficiencia'] = 1

# Escolaridade
df_candidatos.loc[df_candidatos['escolaridade'] == 'Não Identificado', 'escolaridade']  = -1
df_candidatos.loc[df_candidatos['escolaridade'] == 'Nenhum', 'escolaridade']  = 0
df_candidatos.loc[df_candidatos['escolaridade'] == 'Analfabeto', 'escolaridade']  = 0
df_candidatos.loc[df_candidatos['escolaridade'] == 'Fundamental Incompleto', 'escolaridade']  = 1
df_candidatos.loc[df_candidatos['escolaridade'] == 'Fundamental Completo', 'escolaridade']  = 2
df_candidatos.loc[df_candidatos['escolaridade'] == 'Médio Incompleto', 'escolaridade']  = 3
df_candidatos.loc[df_candidatos['escolaridade'] == 'Médio Completo', 'escolaridade']  = 4
df_candidatos.loc[df_candidatos['escolaridade'] == 'Superior Incompleto', 'escolaridade']  = 4
df_candidatos.loc[df_candidatos['escolaridade'] == 'Superior Completo', 'escolaridade']  = 5
df_candidatos.loc[df_candidatos['escolaridade'] == 'Especialização', 'escolaridade']  = 6
df_candidatos.loc[df_candidatos['escolaridade'] == 'Mestrado', 'escolaridade']  = 7
df_candidatos.loc[df_candidatos['escolaridade'] == 'Doutorado', 'escolaridade']  = 8

# Estudante
df_candidatos.loc[df_candidatos['estudante'] == 'N', 'estudante'] = 0
df_candidatos.loc[df_candidatos['estudante'] == 'S', 'deficiencia'] = 1


# Habilitacao
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()

habilitacao_X = df_candidatos.loc[:, 'habilitacao'] # column habilitacao
df_candidatos.loc[:, 'habilitacao'] = labelencoder_X.fit_transform(habilitacao_X)

# Veículo
df_candidatos.loc[df_candidatos['veiculo'] == 'N', 'veiculo'] = 0
df_candidatos.loc[df_candidatos['veiculo'] == 'S', 'veiculo'] = 1

# Disponibilidade viajar
df_candidatos.loc[df_candidatos['disp_viajar'] == 'N', 'disp_viajar'] = 0
df_candidatos.loc[df_candidatos['disp_viajar'] == 'S', 'disp_viajar'] = 1

# Disponibilidade dormir
df_candidatos.loc[df_candidatos['disp_dormir'] == 'N', 'disp_dormir'] = 0
df_candidatos.loc[df_candidatos['disp_dormir'] == 'S', 'disp_dormir'] = 1

# Disponibilidade ausentar domicilio
df_candidatos.loc[df_candidatos['disp_ausentar_domicilio'] == 'N', 'disp_ausentar_domicilio'] = 0
df_candidatos.loc[df_candidatos['disp_ausentar_domicilio'] == 'S', 'disp_ausentar_domicilio'] = 1

# Ocupacao pretendida
for index, row in df_candidatos.iterrows():    
    df_candidatos.at[index, 'ocupacao_pretendida'] = getOcupacoes(row['ocupacao_pretendida'].strip())


df_candidatos.to_excel('data/candidatos-pr.xlsx')
df_candidatos