#### Agrupamento vagas

In [3]:
# Carregando as bibliotecas
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import silhouette_samples, silhouette_score, jaccard_score
import matplotlib.pyplot as plt

In [8]:
# Carrega os datasets
# df_vagas = pd.read_csv('data/vagas-ba.csv', encoding='ISO-8859-1', sep=';')
df_vagas = pd.read_excel('data/vagas-pr.xlsx', index_col=0)
pd.set_option('max_colwidth', None)
df_vagas.head()

   cod_ocupacao  salario  tipo_contratacao  qtd_experiencia escolaridade
0        514120    600.0                 3                2            1
1        783215    812.0                 3                3            1
2        142205      0.0                 3                6            5
3        513205   1200.0                 3                6            2
4        763215   1656.0                 3                6            0

In [9]:
# verifica se existe variáveis nulas por campo
df_vagas.isna().sum()

cod_ocupacao        0
salario             0
tipo_contratacao    0
qtd_experiencia     0
escolaridade        0
dtype: int64

In [10]:
# Considerando que o CBO está organizado em grupo e subgrupo de funções por área, então podemos propor um agrupamento por subgrupo até o nível 5
# Estrutura CBO2002 (Ex. 3143 - Técnicos em mecânica veicular):
#   - Grande grupo (1º número): 
#       - 3: Técnico de nível médio
#   - Subgrupo principal (2 primeiros números): 
#       - 31: Técnicos de nível médio das ciências físicas, químicas, engenharia e afins
#   - Subgrupo (3 primeiros números): 314
#       - 314: Técnicos em metalmecânica 
#   - Família (4 números)
#       - 3143: Técnicos em mecânica veicular
#   - Ocupação: (6 números)
#       - 314305: Técnico em automobilística
#       - 314310: Técnico mecânico (aeronaves) 
#       - 314315: Técnico mecânico (embarcações)    
# Fontes: http://www.mtecbo.gov.br/cbosite/pages/home.jsf, https://renastonline.ensp.fiocruz.br/temas/classificacao-brasileira-ocupacoes-cbo